body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #FEFDFD;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
}

table, td, th {
    border: 1px solid #232323;
}

table {
    margin: 14px auto;
    padding: 7vh 0;
    border-collapse: collapse;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

dialog {
    height: 100%;
    width: 100%;
    border: none;
    padding: 0;
    background-color: rgba(29, 29, 29, 0.85); /*setting the modal window to be transparent */
    position: fixed;
}

.font {
    font-family: 'Montserrat', sans-serif;
}

/* uses default cursor on hover */
.default-cursor { 
    cursor: default;
}

.center {
    text-align: center;
}

.button {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transition: 400ms;
    background-color: transparent;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: white radial-gradient(circle, transparent 1%, #7e7e7e 1%) center/15000%;
  }
  .ripple:active {
    background-color: transparent;
    background-size: 100%;
    transition: background 0s;
  }

.color {
    color: #FEFDFD;
    background-color: #1B19CD;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

.border-color {
    border-color: #1B19CD;
}

.off-color {
    color: #7C7EFB;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

